@media screen and (max-width: 480px) {
  .container {
    padding: 0 20px;
  }
  .title {
    font-size: 23px;
  }
  .header__top,
  .header__bottom {
    display: none;
  }
  .header-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 28px;
    padding: 7px 20px;
  }
  .header-mob__logo-img {
    width: 96px;
  }
  .header__right-link:not(:last-child) {
    margin-right: 4px;
  }
  .header__right-img {
    background-size: contain;
    width: 34px;
    height: 34px;
  }
  .main__title {
    margin-top: 31px;
  }
  .main__description {
    margin-top: 10px;
  }
  .main__btn {
    margin-bottom: 26px;
  }
  .main__info-item:not(:last-child) {
    margin-right: 28px;
  }
  .sidebar__left-img {
    max-width: 100%;
    height: 100%;
  }
  .sidebar__right {
    margin-bottom: 28px;
  }
  .sidebar__right-title {
    margin-bottom: 10px;
    padding-top: 0;
    font-size: 23px;
  }
  .sidebar__right-description {
    margin-bottom: 22px;
    font-size: 12px;
  }
  .sidebar__button-btn {
    padding: 9px 46px;
    font-size: 12px;
  }
  .grade__bottom {
    grid-template-columns: repeat(1, 1fr);
    gap: 13px;
    margin-bottom: 50px;
  }
  .grade__bottom-item {
    padding: 32px 24px;
  }
  .grade__bottom-title {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .grade__bottom-description {
    max-width: 43.140625vw;
    font-size: 12px;
  }
  .talk__title {
    margin-top: 0;
    padding-top: 50px;
  }
  .title:after {
    display: none;
  }
  .talk__description {
    margin-bottom: 42px;
  }
  .talk__bottom {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 70px;
  }
  .talk__bottom-item:not(:first-child) {
    display: none;
  }
  .item {
    padding: 33px 5vw 35px 5vw;
  }
  .item__title {
    padding-left: 4.375vw;
    padding-left: 2.7083333333vw;
  }
  .talk .item__raiting-img {
    margin-right: 2.7083333333vw;
    width: 110px;
    height: 18px;
  }
  .talk .item__description {
    margin: 27px 0 35px 0;
  }
  .talk__bottom {
    margin-bottom: 80px;
  }
  .talk__bottom-link a {
    font-size: 12px;
  }
  .talk .item__title {
    font-size: 4.1666666667vw;
  }
  .talk .item__description {
    max-width: 68.75vw;
    font-size: 14px;
  }
  .talk .item__raiting {
    margin-left: 13.9583333333vw;
  }
  .talk .item__raiting-img {
    margin-right: 2.7083333333vw;
  }
  .talk .item__raiting-text {
    font-size: 12px;
  }
  .talk__bottom-ava img {
    width: 51px;
    height: 53px;
  }
  .choice__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choice__left {
    display: contents;
  }
  .choice__bottom {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .choice__col {
    margin-top: 40px;
  }
  .choice__col .second-child,
  .choice__col .last-child {
    border-radius: 20px;
  }
  .choice__item:after {
    background-size: contain;
    width: 30px;
    height: 30px;
  }
  .process {
    padding-bottom: 70px;
  }
  .process__title {
    margin-bottom: 32px;
  }
  .process__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .process__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .process__step-number {
    margin-right: 0;
  }
  .process__step-number:before {
    background: unset;
  }
  .process__step-number:not(:last-child):after {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 1;
    background: url("../img/process/border-dashed-mob.svg");
    width: 1px;
    height: 123px;
    content: "";
  }
  .process__step-number:not(:last-child) {
    margin-right: 0;
    margin-bottom: 122px;
  }
  .process__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 61px;
  }
  .process__item:not(:last-child) {
    margin-bottom: 43px;
  }
  .process__item-description {
    margin-bottom: 14px;
  }
  .price {
    padding: 0 0 70px 0;
  }
  .price__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }
  .price__right {
    padding: 0 24px 31px 24px;
  }
  .price__title {
    padding-top: 41px;
  }
  .price__description {
    margin-bottom: 35px;
  }
  .price__btn {
    margin-top: 22px;
    padding: 13px 85px;
  }
  .price__social {
    margin-top: 26px;
  }
  .price__social-img {
    width: 33px;
    height: 33px;
  }
  .faq__title {
    margin-bottom: 30px;
  }
  .faq__item {
    margin-bottom: 32px;
    padding-bottom: 40px;
  }
  .faq__item-text {
    padding-right: 24px;
    font-size: 12px;
  }
  .faq__item-text:after {
    -webkit-transform: translateY(8.5px);
        -ms-transform: translateY(8.5px);
            transform: translateY(8.5px);
    background-size: contain;
    width: 17px;
    height: 17px;
  }
  .company {
    padding-top: 70px;
  }
  .company__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .company__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }
  .company__right {
    display: contents;
  }
  .company__top {
    margin-bottom: 7px;
    padding: 0 5vw 9.1666666667vw 5vw;
  }
  .company__title {
    padding-top: 36px;
  }
  .company__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 13px;
  }
  .company__block-item {
    padding: 1.0416666667vw 2.7083333333vw;
  }
  .company__description {
    max-width: unset;
  }
  .company__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .company__right .company__bottom {
    padding: 3.3333333333vw 0 5.8333333333vw 9.1666666667vw;
  }
  .company__bottom-item:first-child {
    padding-left: 0;
  }
  .company__bottom-number {
    font-size: 6.25vw;
  }
  .company__bottom-description {
    font-size: 2.5vw;
  }
  .services__title {
    margin-bottom: 20px;
    padding-top: 70px;
  }
  .services__top {
    grid-template-columns: repeat(1, 1fr);
  }
  .services__item {
    padding: 11px 36px 12px 87px;
  }
  .services__bottom {
    grid-template-columns: repeat(1, 1fr);
    gap: 13px;
  }
  .services__bottom-item {
    padding: 30px 30px 92px 23px;
  }
  .news__description {
    margin-bottom: 23px;
  }
  .news__bottom {
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;
    padding-bottom: 70px;
  }
}