@media screen and (max-width: 768px) {
	// Общие стили

	.container {
		padding: 0 50px;
	}

	// Общие стили

	// header

	.header {}

	.header__container {
		padding: 0 29px;
	}

	.container {}

	.header__top {}

	.header__logo {}

	.header__logo-img {
		width: 62px;
	}

	.header__top-nav {
		margin-left: 13px;
	}

	.header__top-list {}

	.header__top-item {}

	.header__top-link {}

	.header__contacts {}

	.header__contacts-val {}

	.header__contacts-social {}

	.header__social-link {}

	.header__social-img {}

	.header__phone {}

	.header__bottom {}

	.header__bottom-nav {}

	.header__bottom-list {}

	.header__bottom-item {}

	.header__bottom-link {}

	.header__right {}

	.header__right-btn {}

	.header__right-link {}

	.header__right-img {}

	// header

	// main

	.main {
		padding-bottom: 52px;
	}

	.main__container {}

	.container {}

	.main__left {}

	.main__title {
		margin-top: 39px;
	}

	.main__description {
		margin-top: 15px;
		margin-bottom: 21px;
	}

	.description {}

	.main__btn {
		margin-bottom: 51px;
	}

	.main__info {}

	.main__info-item {}

	.main__info-img {}

	.main__info-text {}

	.main__right {}

	.main__right-img {
		position: absolute;
		top: -10%;
		left: -35%;
		width: 450px;
	}

	// main

	//grade 

	.grade {}

	.grade__container {}

	.container {}

	.grade__top {
		margin-top: 50px;
	}

	.grade__sidebar {}

	.sidebar {}

	.sidebar__item {
		margin-bottom: 8px;
		padding: 16px 44px;
	}

	.sidebar__left {
		margin-right: 20px;
		padding: 17px 46px 58px;
	}

	.sidebar__left-top {}

	.sidebar__left-img {
		width: 210px;
	}

	.sidebar__right {}

	.sidebar__right-title {
		margin-bottom: 8px;
	}

	.title {}

	.sidebar__right-description {
		margin-bottom: 16px;
	}

	.description {}

	.arrow {}

	.sidebar__button {}

	.sidebar__button-btn {
		padding: 10px 46px;
	}

	.grade__bottom {
		gap: 8px;
		margin-bottom: 50px;
	}

	.bottom {}

	.grade__bottom-item {
		padding-top: 18px;
		padding-left: 22px;
	}

	.grade__item-text {}

	.grade__bottom-title {
		margin-bottom: 8px;
		font-size: 16px;
	}

	.grade__bottom-description {
		font-size: 12px;
	}

	.grade__bottom-img {}

	.grade__bottom-image {}

	//grade

	// choice

	.choice__item:after {
		background: unset;
	}

	.choice__item {
		padding: calc(19 / 768 * 100vw) calc(18 / 768 * 100vw) calc(17 / 768 * 100vw) calc(18 / 768 * 100vw);
	}

	.choice__item-title {
		font-size: clamp(0.875rem, 0.786rem + 0.45vw, 1rem);
		/* 14px 16px */
	}

	.choice__item-description {
		font-size: clamp(0.688rem, 0.643rem + 0.22vw, 0.75rem);
		/* 11px 12px */
	}

	// choice

	// talk

	.talk {}

	.talk__container {}

	.container {}

	.talk__block {}

	.block {}

	.talk__top {}

	.talk__title {
		margin-top: 0;
		padding-top: 50px;

		&:after {
			right: -117px;
		}
	}

	.title {}

	.talk__description {
		margin-bottom: 21px;
	}

	.description {}

	.talk__right {}

	.talk__btn {}

	.btn {}

	.talk__bottom {
		gap: 11px;
	}

	.talk__bottom-item {}

	.item {}

	.talk__bottom-block {}

	.talk__bottom-ava {}

	.item__title {}

	.item__bottom {}

	.item__raiting {}

	.item__raiting-img {
		margin-right: calc(13 / 768 * 100vw);
		width: calc(110 / 768 * 100vw);
		height: calc(18 / 768 * 100vw);
	}

	.item__raiting-text {}

	.dateDisplay {}

	.talk .item__description {
		margin: 15px 0 24px 0;
	}

	.talk__bottom-link {}

	.talk__bottom {
		margin-bottom: 80px;
	}

	// talk

	// process

	.process {
		padding-bottom: 80px;
	}

	.process__container {}

	.container {}

	.process__title {
		margin-bottom: 34px;
	}

	.title {}

	.process__step {}

	.process__step-number {}

	.process__bottom {
		gap: 38px;
	}

	.bottom {}

	.process__item {}

	.process__item-title {}

	.item-title {}

	.process__item-description {}

	.item-description {}

	.process__item-btn {}

	.btn {}

	.process__item-social {}

	.item__social {}

	.item__social-link {}

	.item__social-img {}

	.item__social-text {
		font-size: 12px;
	}

	// process

	// price

	.price {
		padding: 0 0 80px 0;
	}

	.price__container {}

	.container {}

	.price__wrap {}

	.price__left {
		margin-right: 27px;
	}

	.price__img {}

	.price__right {
		padding-bottom: 31px;
	}

	.price__title {
		padding-top: 31px;
	}

	.title {}

	.price__description {}

	.description {}

	.price__form {}

	.form {}

	.price__input {}

	.input {}

	.price__btn {}

	.btn {}

	.price__social {}

	.price__social-link {}

	.price__social-img {}

	.price__social-text {}

	// price

	// faq

	.faq {}

	.faq__container {}

	.container {}

	.faq__title {}

	.title {}

	.faq__row {
		flex-direction: column;
		padding-bottom: 50px;
	}

	.faq__col {
		&:first-child .faq__item:last-child {
			margin-bottom: 30px;
			border-bottom: 1px solid #DFDFDF;
			padding-bottom: 34px;
		}
	}

	.faq__item {}

	.faq__item-text {}

	// faq

	// company

	.company {
		padding-top: 80px;
	}

	.company__container {}

	.container {}

	.company__left {
		margin-right: 13px;
	}

	.company__img {}

	.company__right {}

	.company__top {
		margin-bottom: 17px;
	}

	.company__title {}

	.title {}

	.company__block {}

	.company__block-item {}

	.company__description {}

	.description {}

	.company__bottom {
		padding: 7px 64px 17px 50px;
	}

	.company__bottom-item {
		padding: 0;
	}

	.company__bottom-number {}

	.company__bottom-description {}

	// company

	// services

	.services {}

	.services__container {}

	.container {}

	.services__title {
		margin-bottom: 32px;
		padding-top: 80px;
	}

	.title {}

	.services__top {
		grid-template-columns: repeat(2, 1fr);
		gap: 8px;
	}

	.services__item {
		padding: 21px 36px 21px 97px;

		&:nth-child(2) {
			order: 2;
		}
	}

	.services__item-top {}

	.services__item-title {
		font-size: 16px;
	}

	.services__item-description {
		font-size: 12px;
	}

	.item-description {}

	.services__bottom {
		gap: 11px;
	}

	.services__bottom-item {
		padding: 30px 30px 92px 19px;

		&:first-child:before {
			left: 22px;
		}
	}

	.services__bottom-title {
		margin-bottom: 7px;
		font-size: 27px;
	}

	.services__bottom-block {}

	.services__bottom-description {
		font-size: 12px;
	}

	.services__bottom-image {}

	.services__bottom-img {}

	.services__bottom-description_blue {}

	// services

	// news

	.news {}

	.news__container {}

	.container {}

	.news__top {}

	.news_title {}

	.title {}

	.news__zen {}

	.news__description {
		margin-bottom: 23px;
	}

	.description {}

	.news__bottom {
		gap: 8px;
		padding-bottom: 80px;
	}

	.news__item {}

	// news


	// find 

	.find__left {
		padding-bottom: 35px;
		padding-left: 30px;
	}

	.find__title {
		padding-top: 0;
	}

	.find__address .find__address-description:nth-child(2):after {
		right: -30px;
	}

	.find__address-description:nth-child(3) {
		margin-bottom: 18px;
	}

	.find__address-phone {
		margin-bottom: 15px;
	}

	.find__work-block {
		margin-right: 35px;
	}

	.find__work-pass {
		width: 12ch;
	}

	.find__form {
		margin-top: 30px;
	}

	.find__wrap {
		padding-top: 37px;
	}

	.find__map {
		padding-right: 23px;
	}

	//footer

	.footer__right-up {
		right: -30px;
	}

	.footer__col-link {
		font-size: 12px;
	}

	.footer__bottom--wrapper {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
}

@media screen and (max-width: 720px) {
	.sidebar__item {
		row-gap: 25px;
		flex-direction: column;
		align-items: center;
		margin-bottom: 13px;
		padding: 37px 24px 65px;
	}

	.sidebar__left {
		order: 2;
		margin-right: 0;
		padding: 21px 25px;
	}

	.grade__bottom {
		grid-template-columns: repeat(1, 1fr);
		gap: 13px;
		margin-bottom: 50px;
	}
}